<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.walfud.taskdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".StandardAActivity" android:launchMode="standard" />
        <activity android:name=".StandardBActivity" android:launchMode="standard" />
        <activity android:name=".StandardCActivity" android:launchMode="standard" android:taskAffinity="com.walfud.taskdemo.another" />

        <activity android:name=".SingleTopAActivity" android:launchMode="singleTop" />
        <activity android:name=".SingleTopBActivity" android:launchMode="singleTop" />
        <activity android:name=".SingleTopCActivity" android:launchMode="singleTop" android:taskAffinity="com.walfud.taskdemo.another" />

        <activity android:name=".SingleTaskAActivity" android:launchMode="singleTask" />
        <activity android:name=".SingleTaskBActivity" android:launchMode="singleTask" />
        <activity android:name=".SingleTaskCActivity" android:launchMode="singleTask" android:taskAffinity="com.walfud.taskdemo.another" />

        <activity android:name=".SingleInstanceAActivity" android:launchMode="singleInstance" />
        <activity android:name=".SingleInstanceBActivity" android:launchMode="singleInstance" />
        <activity android:name=".SingleInstanceCActivity" android:launchMode="singleInstance" android:taskAffinity="com.walfud.taskdemo.another" />

    </application>

</manifest>
